<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>HabitController</servlet-name>
        <servlet-class>io.servlet.HabitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HabitController</servlet-name>
        <url-pattern>/habits</url-pattern>
    </servlet-mapping>
</web-app>